.features {
    padding: 155px 250px 0 250px;
    display: flex;
    justify-content: space-between;
}

.features__items {
    padding: 50px 0 60px 0;
    max-width: 558px;
    display: grid;
    align-items: start;
    gap: 20px 40px;
    font-size: 20px;
    font-weight: 400;

}


.features__wrapper-1 {
    border-radius: 64px 6px;
    background: $light;
}

.features-btn {
    width: 334px;
    height: 81px;
    background-color: $light;
    color: $blue;
    font-size: 20px;
    font-weight: 200;
}

.features-img {
    padding: 50px 116px 60px 116px;

}

.features__wrapper-2 {
    height: 398px;
    border-radius: 64px 6px;
    background: $blue;

    .features-img {
        margin-top: -116px;
    }
}

.features__items-icon {
    display: flex;
    justify-content: flex-start;
    gap: 12px;

}

.features__map {
    width: 702px;
    height: 398px;
  
}

.map {
    width: 702px;
    height: 398px;
    border-radius: 64px 6px;

}