@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,600;6..12,700;6..12,800&display=swap');

body {
    color: $dark;
    font-family: $main-text;
}

button {
    width: 226px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid $blue;
    background: $blue;
    letter-spacing: 1.5px;
}

p {
    font-family: $secondary-text;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: $white;

    &:hover {
        color: $red;
    }

}


h3 {
    font-family: $main-text;
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 36px;
    font-weight: 600;
}

h5 {
    font-weight: 600;
}

.hr-line {
    margin-top: 33px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.36);
}

.title {
    font-size: 36px;
    font-weight: 400;
}

.socials-icon {
    padding: 15px 76px;
}

.main-page {
    padding: 30px 250px 80px 250px;
}


.main__link {
    padding-bottom: 50px;
    display: flex;
    gap: 5px;
}

.main__link p {
    color: $dark;
    font-family: $main-text;
    font-size: 16px;
    font-weight: 400;
}