//font 
$main-text: 'Montserrat', sans-serif;
$secondary-text: 'Nunito Sans', sans-serif;

//color
$white: rgba(255, 255, 255, 1);
$blue:rgba(0, 0, 222, 1);
$dark: rgba(6, 6, 40, 1);
$light: rgba(250, 250, 250, 1);
$red: rgba(221, 42, 27, 1);
$yellow: rgba(255, 185, 25, 1);
$green: rgba(25, 170, 30, 1);
$bg-footer: rgba(0, 0, 97, 1);

